/*css for all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* header css */
.main-header {
  justify-content: center;
  display: grid;
  align-items: center;
  width: 100vw;
  top: -95px;
  left: 0;
  position: sticky;
  position: -webkit-sticky;
  box-shadow: 0 5px 5px #ccc;
  background: white;
  z-index: 2;
}

.title {
  margin: 1rem;
  border-radius: 1rem;
  font-size: 4rem;
  font-weight: 600;
  background-color: rgb(36, 0, 0);
  color: rgb(104, 104, 255);
}
.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  /* box-shadow: 0 5px 5px #ccc; */
  width: 100%;
}
.nav-ul {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 2px black solid;
}
.nav-element {
  margin: 0 2rem;
}
.nav-ul li {
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
}
.nav-ul li:hover {
  color: rgb(255, 103, 103);
}
/* body css */
.main {
  z-index: -1;
  background-color: rgb(255, 238, 238);
}
.car-collection {
  display: flex;
  background-color: rgb(255, 247, 247);
  flex-wrap: wrap;
  max-width: 1300px;
  margin: auto;
  padding: 1rem;
}

.car-detail {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border-radius: 5px;
  min-height: 250px;
  min-width: 150px;
  align-items: center;
  display: grid;
  border: 2px solid rgba(0, 0, 0, 0.419);
}
.car-detail:hover {
  box-shadow: 3px 3px 3px rgba(255, 206, 206, 0.764);
}

/* form css */
.form-section div h2 {
  margin: 1rem;
}
form {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px rgb(204, 205, 255);
}
.form-section {
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
input {
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0 1px 2px rgb(142, 157, 255);
  padding: 0.3rem 0.5rem;
}
::placeholder {
  color: rgb(205, 205, 205);
  font-size: medium;
}
input:hover {
  outline: rgb(0, 51, 255) solid 2px;
}
input:focus {
  background-color: rgb(222, 226, 255);
  outline: blue solid 2px;
}

.error {
  height: 20px;
  color: rgb(255, 123, 123);
}
.button {
  padding: 5px;
  margin: auto;
  font-size: 1.3rem;
  background-color: rgb(65, 65, 255);
  color: white;
  border-radius: 0.5rem;
  outline: solid 3px rgba(118, 118, 118, 0.775);
  border: none;
}
.button:hover {
  background-color: rgb(52, 52, 255);
  outline: solid 3px blue;
  cursor: pointer;
}
