*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.car-collection{

    display:flex;
    background-color: #ccc;
    
}

.car-detail{

    padding: 5px;
    margin: 5px;
    background-color:white;
    border-radius: 1rem;
    border: 2px solid black;
}
.car-detail:hover{
    box-shadow: 3rem 3rem 3rem #bbb;
}